body{
 background-color: black;
}
/* Preciso aprender a usar o gridControl e criar um quadro na esquerda com divs 
pequenos (são as categorias e menu de inscrições e coisas do tipo), depois um quadro enorme no meio com vários menores 
dentro (vão ser os vídeos). O resto eu descubro depois.
/* Lembre de usar o flex-wrap no div principal (que envolve a página inteira) para deixar ela responsiva*/

.faixasuperiorexterna{
    display: flex;
   background-color: rgb(19, 18, 18);
   height: 45px;
   width: 1350px;  
   align-items: center;
}

.objetodafaixasuperior{
    justify-content: left;
}

#caixadepesquisa{
    align-self: center;
    align-items: center;
    width: 600px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 16px;
    position: relative;
}

#botaodepesquisa{
    border: solid 1px white;
}

#centralizarcaixadepesquisa{
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    width: 1000px;
    height: 50px;
}
